# =============================
# 💻 Archivos específicos de IDEs
# =============================

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache


# =============================
# 🔧 Archivos de build y compilados
# =============================
/target/
/build/

# Maven Wrapper
/.mvn/
mvnw
mvnw.cmd

# =============================
# 🔐 Archivos sensibles
# =============================
.env
jwt.key
jwt.pub.key

# =============================
# 📝 Logs
# =============================
*.log

# =============================
# 🍏 Sistema Operativo
# =============================
.DS_Store
Thumbs.db
