<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cuenta bloqueada - PetCare</title>
    <style>
        /* {{styles}} */
    </style>
</head>
<body>
    <div class="container deactivation">
        <p>Hola <span th:text="${name}">Usuario</span>,</p>

		<p>Se han detectado múltiples intentos fallidos de acceso con tu contraseña.</p>
        <p>Por ese motivo tu cuenta en <strong>PetCare</strong> ha sido <strong>temporalmente bloqueada</strong></p>
        
        <p>Para recuperar el acceso, puedes restablecer tu contraseña desde el siguiente enlace:</p>

        <p style="text-align: center;">
            <a th:href="${recoveryLink}" class="btn">Restablecer contraseña</a>
        </p>

        <p>Este enlace estará disponible durante 1 hora.</p>

        <div class="footer">
            <p>Gracias por confiar en <strong>PetCare</strong> 🐾</p>
            <div class="footer-logo">
                <img src="cid:petcare-logo" alt="PetCare" style="width: 120px;">
            </div>
        </div>
    </div>
</body>
</html>